*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center{
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    background-color: #21031F;
    width: 80%;
    height: 80%;
}