*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center{
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.main{
    background-color: #21031F;
    display: flex;
    width: 90%;
    height: 80%;
    gap: 0.9em;
    flex-direction: column;
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center{
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.header_img{
    background-color: #352334;

}

.char_section{
    background-color: #352334;

}

.exp{
    background-color: #352334;

}
/* ---------------- To Do List ---------------------- */
.sec_todo{
    background-color: #352334;

}
/* ---------------- Daily Goal ---------------------- */
.daily_goal{
    background-color: #352334;

}